################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/modul8_1302220033/modul8_1302220033.csproj
